$gap: 18px;
$padding: 18px;

.app {
  padding: $padding;
  display: flex;
  flex-direction: row;
}

.coursesWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 18px;
  gap: $gap;
}

.spinnerWrapper {
  flex: 1;
  height: calc(100vh - $padding * 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
